<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Shady Khaled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/style.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.png" alt="" /></span>
							<h1 id="title">Shady Khlaed</h1>
							<p>Full Stack Web Developer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="icon fa-home">Intro</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="icon fa-th">Portfolio</span></a></li>
								<li><a href="#about" id="about-link"><span class="icon fa-user">About Me</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="icon fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="http://linkedin.com/in/shadykhaled/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://web.facebook.com/shadykhlaedz?_rdc=1&_rdr" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://github.com/shadykh" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://open.spotify.com/user/owueuyr9rt5pc80plrfofaqkm" class="icon fa-spotify"><span class="label">spotify</span></a></li>
						</ul>

				</div>

			</div>

		<!-- Main -->
		<div id="main">

			<!-- Intro -->
				<section id="top" class="one dark cover">
					<div class="container">

						<header>
							<h2 class="alt">Hi! I'm <strong>Shady Khaled</strong></h2>
							<p>An innovative engineer who is seeking a fresh challenge and job opportunity,
								 has a variety of qualifications, skills and certificates and known with his
								  passion to learn as possible as he can.</p>
						</header>

						<footer>
							<a href="#portfolio" class="button scrolly">Go To MY Portfolio</a>
						</footer>

					</div>
				</section>

			<!-- Portfolio -->
				<section id="portfolio" class="two">
					<div class="container">

						<header>
							<h2>Portfolio</h2>
						</header>

						<p>This engineer has a variety of skills, qualifications and certificates 
							that empower him as the wanted employee to your company.
							This engineer graduated as an Aeronautical Engineer form JUST, 
							get trained as an Industrial Automation Engineer in HTU and now 
							studying how to to be a Full stack developer with ASAC/LTUC .
							This engineer has an experience as a cashier, supervisor, sales 
							and customer support advisor.</p>

						<div class="row">
							<div class="col-4 col-12-mobile">
								<article class="item">
									<a href="https://shadykh.github.io/jQueryLab/" class="image fit"><img src="https://habrastorage.org/getpro/habr/post_images/99b/37e/278/99b37e278226b136bac04f85ab8e238c.png" alt="" /></a>
									<header>
										<h3>jQueryLab Project</h3>
									</header>
								</article>
								<article class="item">
									<a href="https://shadykh.github.io/cookie-stand/" class="image fit"><img src="https://image.freepik.com/free-vector/kawaii-cookie-coffee-cup_24911-13162.jpg" alt="" /></a>
									<header>
										<h3>Cookie Stand Project</h3>
									</header>
								</article>
							</div>
							<div class="col-4 col-12-mobile">
								<article class="item">
									<a href="https://jordanian-culture.github.io/Jordanian-Culture/" class="image fit"><img src="images/Jordan_Culture.gif" alt="" /></a>
									<header>
										<h3>Jordanian Culture</h3>
									</header>
								</article>
								<article class="item">
									<a href="https://shadykh.github.io/bus-mall/" class="image fit"><img src="https://static.vecteezy.com/system/resources/previews/000/230/771/original/flat-school-bus-with-gradient-background-vector-illustration.jpg" alt="" /></a>
									<header>
										<h3>BussMall Project</h3>
									</header>
								</article>
								<article class="item">
									<a href="https://shnobookapp.herokuapp.com/" class="image fit"><img src="https://ebookfriendly.com/wp-content/uploads/2017/09/Illustrations-about-books-Andrea-De-Santis-Dive-into-a-good-book-540x763.jpg" alt="" /></a>
									<header>
										<h3>Book-App Project</h3>
									</header>
								</article>
							</div>
							<div class="col-4 col-12-mobile">
								<article class="item">
									<a href="https://shadykh.github.io/reading-notes/" class="image fit"><img src="https://cdn.dribbble.com/users/1157369/screenshots/4307683/woman-read-illustration.jpg?compress=1&resize=400x300" alt="" /></a>
									<header>
										<h3>Reading Notes</h3>
									</header>
								</article>
								<article class="item">
									<a href="https://codefellows.github.io/code-301-guide/curriculum/city-explorer-app/front-end/" class="image fit"><img src="https://static.vecteezy.com/system/resources/previews/000/183/713/original/vector-big-city-illustration.jpg" alt="" /></a>
									<header>
										<h3>My City-Explorer Server Project</h3>
										<h4>Enter this link in the box to use the server :<br>
											https://cityexplorerlab6.herokuapp.com</h4>
									</header>
								</article>
								<article class="item">
									<a href="https://drive.google.com/file/d/1X1tAfP9D0fZr4EPjlEuhzKgI6J76EUws/view?usp=sharing" class="image fit"><img src="https://media.istockphoto.com/vectors/job-application-resume-cv-document-with-man-photo-and-pen-employment-vector-id1079848874?k=6&m=1079848874&s=612x612&w=0&h=Mqk2dWbyF0zzTA5Uiea47A-n9PoQfufqC6pYN5LTdxo=" alt="" /></a>
									<header>
										<h3>Resume</h3>
									</header>
								</article>
							</div>
						</div>

					</div>
				</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>More About Me</h2>
							</header>

							<a href="#" class="image featured"><img src="https://raw.githubusercontent.com/shadykh/shadykh/main/giff.gif" alt="" /></a>
								<ul class="new-list">
									<li>🔭 I’m currently working on being Full Stack Web Developer.</li>
									<li>🌱 I’m currently learning the Code301 in LTUC/ASAC.</li>
									<li>👯 I’m looking to collaborate with other developers.</li>
									<li>🤔 I’m looking for help with this journy.</li>
									<li>💬 Ask me about anything you want.</li>
									<li>😄 My favourite anime : One Piece.</li>
									<li>⚡ Fun fact: If I could have any superpower, it would be a magical power to make a sweets instantly.</li>
								</ul>
						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="four">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							<p>Feel Free To contact me</p>

							<form method="POST" action="/contact">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Name" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Email" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; All rights reserved2021.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
